{% macro displayArticles(article_list) %}
    {% for article in article_list %}      
        <div class="container">
        <div class="row">
            <div class="col-md-4">
            <h2>{{article.title}}</h2>
            <h3>{{article.name}}</h3>
            <img src="{{article.urlToImage}}" alt="">
            <p>{{article.description}}</p>
            <hr>
            </div>  
            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                
            </div>
            
        </div>
        </div>
    {% endfor %}
{% endmacro %}