<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <div class="container-fluid">
                <div class="col-md4">
                    <li><a href="/"><strong>Home</strong></a></li>
                </div>
                <div class="col-md-8">
                    <li><a href="/articles">Articles</a></li>
                    <li><a href="/source">Sources</a></li>
                </div>
                </div>
        </div>

    </div>
</div>